<router-outlet></router-outlet>

<!--

  <div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>


<div class="container">
    <painel *ngFor="let pessoa of pessoas" titulo="{{pessoa.title}}">
    </painel>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
     <div *ngFor="let pessoa of pessoas">
      <tr>
        <td>{{pessoa.title}}</td>
        <td>{{pessoa.title}}</td>
        <td>{{pessoa.title}}</td>
        <td>{{pessoa.title}}</td>
      </tr>
    </div>
  </tbody>
</table>
-->